<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="windows-1256">
<title>Absence Management</title>




<link rel="stylesheet"
	 href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css">
</head>
<body>
	<div class="container">
		
			<h3>Absence Management:</h3>
			<hr />
			<br /> <a
				th:href="@{/absence/employee/add/{employeeId}(employeeId=${employeeId})}"
				class="btn btn-primary">Add Leave</a> <br /> <br /> <br /> <br />
	
				<div class="col-auto">
					<table class="table table-primary table-bordered table-striped"
						id="absence" >
						<thead>
							<tr>
								<th>Request Number</th>
								<th>Starting At</th>
								<th>Ending In</th>
			
								<th>Status</th>
								<th style="width: 30.00%" >Action</th>
			
			
							</tr>
						</thead>
						<tbody>
							<tr th:each="absence: ${absenceDto}">
								<td th:text="${absence.absenceId}"></td>
								<td
									th:text="${#dates.format(absence.startingDate, 'yyyy-MM-dd')}"></td>
								<td th:text="${#dates.format(absence.endingDate, 'yyyy-MM-dd')}"></td>
								<td th:text="${absence.approvedToString}"></td>
			
								<td >
									
			
								
			
												<div th:switch="${absence.submitted}">
													
													<a th:case="null"
														th:href="@{/absence/submit/{absenceId}(absenceId=${absence.absenceId})}"
														class="btn btn-info">Submit </a>
													
													<a th:case="true"
														th:href="@{/absence/submit/{absenceId}(absenceId=${absence.absenceId})}"
														class="btn btn-info disabled" role="button" aria-disabled="true">Submit </a>
													
													<a th:case="false"
														th:href="@{/absence/submit/{absenceId}(absenceId=${absence.absenceId})}"
														class="btn btn-info">Submit </a>
			
													
												</div>
										
										<a
											th:href="@{/absence/update/{absenceId}(absenceId=${absence.absenceId})}"
											class="btn btn-info">Update</a> <a
											th:href="@{/absence/delete/{absenceId}(absenceId=${absence.absenceId})}"
											class="btn btn-info">Remove</a>
								</td>
							</tr>
						</tbody>
					</table>
				
		</div>
	</div>

	<br />
	<br />
	<div style="text-align: center;">
		<a th:href="@{/employee/{employeeId}(employeeId=${employeeId})}">Back
			To List</a>
	</div>






</body>
</html>